<!-- Collection Title -->

<section class="hero is-primary is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
      </p>
      <p class="subtitle">
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <p style="font-size: 60px; font-family: Wallington;" [style.color]="color.colorLight">Collections</p>
      </div>
    </nav>
  </div>
</section>



<!-- About Dress Item -->
<div class="container-item">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-4 order-lg-2">
            <div class="collectionSum"><img  class="img-fluid " src="assets/img/Dresses/3.jpg" alt="..."></div>
        </div>
        <div class="col-lg-8 order-lg-1">
            <div class="collectionSum">
                <h2 class="display-4">Dream Dress</h2>
                <p>Honey, you will look as amazing in our dresses as you do in your dreams. Just follow the link below. You will be amazed.</p>
                <a href="#" class="primary-btn about-btn" routerLink="/dresses">View Dresses</a>
              </div>

        </div>
    </div>
</div>
</div>

<!-- About Suit Item -->

  <div class="container-item">

  <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-4 order-lg-1">
            <div class="collectionSum"><img  class="img-fluid " src="assets/img/Suits/1.jpg" alt="..."></div>
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="collectionSum">
                <h2 class="display-4">Dream Suit</h2>
                <p>Where are you going to find majestic suits like the ones we're offering? Hurry up and see our latest collection.</p>
                <a href="#" class="primary-btn about-btn" routerLink="/suits">View Suits</a>
              </div>

        </div>
    </div>
</div>

  </div>


<!-- Review Section -->

<app-reviews></app-reviews>
