<section class="hero is-primary is-halfheight" >
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
      </p>
      <p class="subtitle">
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <p style="font-size: 45px; font-family: Wallington;" > He said YES to the suit!</p>
      </div>
    </nav>
  </div>
</section>
<section class="description">

  <div >
    <h1 class="descriptionTitle">
      <span>
        <span style="font-family: Wallington;"[style.color]="color.colorLight">your dream suit is here</span>
      </span>
    </h1>
  </div>


  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"  >
      heSaidyes was built on our dream of providing a stylish and elegant approach to the tunisian bridal experience. We're nestled on a quiet street of shops and offices near INSAT in CUN.
      There, warm colors, soft fabrics and smiling faces will greet you and your party.  We pride ourselves on excellent customer service as well as providing brides with cutting edge styles from top designers in the industry.</p>

  </div>

</section>


<div class='suits-list' >

  <app-suits-list>

  </app-suits-list>
</div>
