<app-header1></app-header1>
<div class="row">
    <div class="col-sm-8">
<div class="room-details-item">
    <div>
       <img src="/assets/img/venues/kobbet/1.jpg" alt="">
      
      <hr> 
      
    </div>


    <!--TAHT E TASWIRA-->
    <div class="rd-text">
        <div class="rd-title">
            <h4>PALAIS KOBBET ENNHAS</h4>

            <br>
           
        <table>
            <tbody>
                <tr>
                    <td class="r-o">Price:</td>
                    <td>500 dt / Pernight</td>
                </tr>
                <tr>
                    <td class="r-o">Capacity:</td>
                    <td>500 places</td>
                </tr>
                
                <tr>
                    <td class="r-o">Services:</td>
                    <td>Parking, Food, Wifi,...</td>
                </tr>
            </tbody>
        </table>
        <p class="f-para">
            We organize your parties and wedding contracts from A to Z.
            The Palace also periodically hosts congresses, seminars as well as various artistic and cultural events.
        </p>
        <p>
            Our approach : 
            Customer satisfaction is our number one priority. All our products are homemade by our chefs and pastry chefs.
        </p>

        
        <div class="rdt-right">
            <a href="/thanks">Booking Now</a>
        </div>
    </div>
    </div>

    
</div>
</div>

<div class="col-sm-4">
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        
                        <h2>Discover Our Strengths</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        
                        <h4>Security</h4>
                        <p>Space in the city center near the two army barracks, Very vigilant security service, High performance CCTV system.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Big capacity</h4>
                        <p>For dinners, cocktails and all other events.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Privatizations of the Palace</h4>
                        <p>The Palace always hosts a single event, which gives guests the opportunity to visit the different historical spaces.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Guarded car parks</h4>
                        <p>Capacity of 400 places inside the ramparts of the Palace.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Access</h4>
                        <p>Very easy: Route X without any traffic lights towards Manouba then Avenue Habib Bourguiba.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Provision of wedding evenings</h4>
                        <p>Hot and cold savory canapés as well as evening cakes and Tunisian pastries are made on site the same day.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
       
</div>

</div>


