<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <p class="title " >
      I said Yes to the dress
    </p>
  </div>
</section>



<section class="description">

  <div >
    <h1 class="descriptionTitle">
      <span>
        <span>your dream dress is here</span>
      </span>
    </h1>
  </div>


  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"    >
      He Said Yes has been a household name in Chesterton since 2011.
      Our boutique was built on our dream of providing a stylish and elegant approach to the northwest Indiana bridal experience. We're nestled on a quiet street of shops and offices near Coffee Creek Park in Chesterton.
       There, warm colors, soft fabrics and smiling faces will greet you and your party.  We pride ourselves on excellent customer service as well as providing brides with cutting edge styles from top designers in the industry.
       We've handpicked our bridal collection of approximately 100 dresses, average priced $1500-$2500.</p>

  </div>

</section>


<div class='dresses-list' >

  <app-dresses-list>

  </app-dresses-list>
</div>