
<div class="center">Hotel>Hotel Details</div>

<div class="row">
    <div class="col-sm-8">
<div class="room-details-item">
    <div>

       <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="{{hotel.src1}}" alt="Random slide">
          </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="{{hotel.src2}}" alt="Random slide">
            </div>

          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="{{hotel.src3}}" alt="Random slide">
            </div>

          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="{{hotel.src4}}" alt="Random slide">
            </div>

          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="{{hotel.src5}}" alt="Random slide">
            </div>

          </ng-template>
      </ngb-carousel>
      <ngb-rating rate={{hotel.stars}}>
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index <= 5">&#9733;</span>
        </ng-template>
      </ngb-rating>

      <hr>


    </div>


    <div class="rd-text">
        <div class="rd-title">
            <h3 class="namestyle">{{hotel.name}}</h3>

            <div class="rdt-right">
                <a class='btn btn-default' (click)="onBack()">Back to Hotels List</a>
            </div>
        </div>
        <h2 class="sz">{{hotel.price}}$<span class="sz2">/Pernight</span></h2>
        <table>
            <tbody>
                <tr>


                    <td class="sz3"[style.color]="color.colorPrimary">Location:</td>
                    <td><i class="fa fa-map-marker" aria-hidden="true"></i>

                    {{hotel.location}}
                </td>
                </tr>
                <tr>
                    <td class="r-o sz3" [style.color]="color.colorPrimary">Telephone:</td>
                    <td>71689146</td>
                </tr>
                <tr>
                    <td class="r-o sz3" [style.color]="color.colorPrimary">Bed:</td>
                    <td>King Beds</td>
                </tr>
                <tr>
                    <td class="r-o sz3" [style.color]="color.colorPrimary">Services:</td>
                    <td>Wifi, Television, Bathroom,...</td>
                </tr>
            </tbody>
        </table>
        <p class="f-para">Have you decided where your next holiday will be? If you intend to enjoy a holiday in Douz, Thalasso Douz hotel promises unbeatable moments. It is perfect for romance. It is a fun-filled choice for lovers; is just steps away from some of the most interesting places in Douz. You can also relax in the spa and lush green gardens. It is  a destination where you will live the most beautiful experiences and unforgettable moments.
            Indulge yourself in our comfortable rooms. You will discover the Première Classe experience from the moment you arrive. Bright, modern spaces. Everything you need for a good night's sleep at a low price.

        </p>
    </div>


</div>
</div>

<div class="col-sm-4">
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title" style="font-family: Wallington ;">
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
                            <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z"/>
                            <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
                          </svg>


                        <h4>Wifi</h4>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>

                        <h4>Travel Plan</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="fa fa-child" aria-hidden="true"></i>

                        <h4>Babysitting</h4>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                          </svg>
                        <h4>Laundry</h4>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                        <h4>Hire Driver</h4>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="fa fa-glass" aria-hidden="true"></i>

                        <h4>Bar &amp; Drink</h4>

                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="service-item">
                        <i class="fa fa-television" aria-hidden="true"></i>


                        <h4>TV</h4>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</div>

<div>
    <span class="guests our">  Our guests love us! </span>
    <app-reviews></app-reviews>
</div>

