<div class="container-item">
  <div class="container px-5">
    <div class="row justify-content-center">
      <!-- pack bronze -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <div class="collectionSum"><img class="img-fluid " src="assets/img/packs/bronze.jpg" alt="..."></div>
          </div>

        </div>
        <br>
        <br>
        <h2 class="display-4">Bronze Pack</h2>
        <p>Decoration </p>
        <a href="#" class="primary-btn about-btn" routerLink="/dresses">View details</a>
      </div>


      <!-- pack silver-->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <div class="collectionSum"><img class="img-fluid " src="assets/img/packs/silver.jpg" alt="..."></div>
          </div>

        </div>
        <br>
        <br>
        <h2 class="display-4">Silver Pack</h2>
        <p>Decoration and food</p>
        <a href="#" class="primary-btn about-btn" routerLink="/dresses">View details</a>
      </div>


      <!-- pack gold-->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <div class="collectionSum"><img class="img-fluid " src="assets/img/packs/gold.jpg" alt="..."></div>
          </div>

        </div>
        <br>
        <br>
        <h2 class="display-4">Golden Pack</h2>
        <p>Decoration,food and music band</p>
        <a href="#" class="primary-btn about-btn" routerLink="/dresses">View details</a>
      </div>


    </div>
  </div>
</div>



<!-- Review Section -->

<app-reviews></app-reviews>