header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.aboutus-page-section {
  padding-top: 70px;
  padding-bottom: 25px;
}
.about-page-text {
  margin-bottom: 65px;
}
.about-page-text .ap-title {
  margin-bottom: 30px;
}
.about-page-text .ap-title h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 18px;
}
.about-page-text .ap-title p {
  font-size: 18px;
  color: #707079;
  line-height: 28px;
}
.about-page-text .ap-services li {
  list-style: none;
  font-size: 20px;
  color: #707079;
  line-height: 42px;
}
.about-page-text .ap-services li i {
  color: #dfa974;
  margin-right: 5px;
}
.about-page-services .ap-service-item {
  position: relative;
  height: 420px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.about-page-services .ap-service-item .api-text {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.about-page-services .ap-service-item .api-text h3 {
  color: #ffffff;
}
.services-section {
  padding-bottom: 60px;
}
.services-section .section-title {
  margin-bottom: 36px;
}
.service-item {
  text-align: center;
  padding: 30px 35px 18px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.service-item:hover {
  background: #dfa974;
}
.service-item:hover i {
  color: #ffffff;
}
.service-item:hover h4 {
  color: #ffffff;
}
.service-item:hover p {
  color: #ffffff;
}
.service-item i {
  display: inline-block;
  color: #dfa974;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.service-item h4 {
  color: #19191a;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.service-item p {
  color: #707079;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.heading-title {
  margin-bottom: 100px;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}
.p-top-30 {
  padding-top: 30px;
}
.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e;
}
.text-uppercase {
  text-transform: uppercase;
}

.team-member,
.team-member .team-img {
  position: relative;
}
.team-member {
  overflow: hidden;
}
.team-member,
.team-member .team-img {
  position: relative;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
  top: 35%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
  text-align: center;
  color: #dfa974;
  font-size: 23px;
}

.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
}
.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}
.team-title span {
  font-size: 15px;
  text-transform: uppercase;
  color: #dfa974;
  letter-spacing: 1px;
}
.hello{
    color:  #dfa974;
}
.aboutus {
    margin-bottom: 50px;
}

.readm{
    color: #222736;
}

.team{
    margin-bottom: 70px;
    margin-top: 50px;
}

.teamlayout{
    margin-bottom: 70px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
  }

  .center img{
    width: 400px;
    border-radius: 50%;
    height: 500px;
    margin-left: 50px;
    margin-right: auto;
  }

  .join {
      color: #222736;
  }