<app-header1></app-header1>
<section class="hero is-primary is-halfheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
        </p>
        <p class="subtitle">
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <p style="font-size: 60px; font-family: Wallington; color: whitesmoke;">Our Services</p>
        </div>
      </nav>
    </div>
  </section>

<div class="col-lg-4 offset-lg-1">
    <ul class="ap-services">
        <li><i class="bi bi-brightness-low"></i> Decorated wedding podium provided</li>
        <li><i class="bi bi-brightness-low-fill"></i> Decorated head table provided </li>
        <li><i class="bi bi-brightness-low"></i> White tablecloths  </li>
        <li><i class="bi bi-brightness-low-fill"></i>Centerpiece decoration, floral mirror </li>
        <li><i class="bi bi-brightness-low"></i> Qualified servers</li>
        <li><i class="bi bi-brightness-low-fill"></i> Ambient light color of your choice</li>
        <li><i class="bi bi-brightness-low"></i> Reinforced security on the outside</li>
    </ul>
</div>

<h4> -- TARIF ADAPTED TO DEMAND --
<br>
<br>

<a class="btn" routerLink="/form" target="">Contact us</a>
</h4> 