/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "~font-awesome/css/font-awesome.css";
@font-face {
    font-family: "Lovelyn";
    src: url(./assets/fonts/Lovelyn.ttf);
}
@font-face {
    font-family: "Wallington";
    src: url(./assets/fonts/Wallington.ttf);
}