<app-header1></app-header1>
<section class="login-block">
    <div class="container">
  
    <div class=" login-sec">
        <h2 class="text-center">Cost Estimate</h2>
        <form class="login-form" #signUpFormulaire="ngForm">
  
  
    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Your Names </label>
      <input  id="name" type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Wedding's Date & Place </label>
      <input  id="name" type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Estimated number of guests </label>
      <input  id="name" type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Your wedding budget </label>
      <input  id="name" type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Theme of the decoration </label>
      <input  id="name" type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase"> Any other details you want to mention? </label>
      <input  id="name" type="text" class="form-control" placeholder="Don't hesitate to ask for more information">
    </div>
    

    <div class="form-check">
  
    <button type="submit" class="btn btn-login float-right" routerLink="/thanks">Submit</button>
  </div>
  
  </form>
  
  </div>
  </div>
  </section>